.mover-leads-container {
	overflow: hidden;
	max-height: 170px;
	position: relative;
	border: 1px dashed #000;
	padding: 15px;
	margin-bottom: 15px;
}
.mover-leads-container .gradient {
	bottom: 0;
	width: 100%;
	height: 170px;
	position: absolute;
	background-image: linear-gradient(rgba(255,255,255,.5), #ffffff);
}
.mover-leads-container .expander-btn {
	width: 150px;
	height: 42px;
	line-height: 42px;
	background: green;
	border-radius: 10px;
	position: absolute;
	text-align: center;
	color: #ffffff;
	bottom: 10px;
	left: 50%;
	margin-left: -75px;
	cursor: pointer;
}

.mover-leads-container.expanded {
	max-height: none;
}
.mover-leads-container.expanded .gradient,
.mover-leads-container.expanded .expander-btn {
	display: none;
}

.mover-leads-container .chosen-container {
	max-width: 100%;
}
